* {
  padding: 0;
  margin: 0;
}
body {
  background-color: red;
  overflow: hidden;
}
.game {
  background-image: url(resources/bg.jpg);
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  width: 100%;
  height: 100vh;
}
#mario {
  background-image: url(resources/new.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 110px;
  height: 210px;
  position: absolute;
  bottom: 0;
  left: 52px;
}
.animate {
  animation: jump 0.3s linear;
}

@keyframes jump {
  0% {
    top: 150px;
  }
  30% {
    top: 10px;
  }
  70% {
    top: 100px;
  }
  100% {
    top: 150px;
  }
}
.gameOver {
  position: relative;
  top: 63px;
  font-size: 53px;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
}
#scoreSpan {
  font-size: 25px;
  color: #54212f;
  font-weight: bold;
  position: absolute;
  right: 600px;
  top: 200px;
  text-align: center;
  border: 2px solid black;
  padding: 10px;
  font-family: "Ubuntu", sans-serif;
  border-radius: 10px;
}

#block {
  width: 50px;
  height: 53px;
  background-image: url(resources/Untitled.png);
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 10vw;
  animation: block 1s infinite linear;
}
@keyframes block {
  0% {
    left: 100vw;
  }
  100% {
    left: -10vw;
  }
}
p {
  text-align: center;
}
